body{
    background-image: url("cc.jpg");
   
   background-size:  100%;

}
#signanc{
  color :green;
  font-size: 17px;
}
#singin{
  margin: 100px
  font-weight:italic ;text-shadow: 2px 2px 5px white;font-size: 15px;
  font-family: cursive;
  width: 150px;
  height: 60px;
  background: grey;
  transition: width 2s;
  color: green;
  text-align: center;

}
#singin:hover{
  width: 350px;
}
#bt1{
  margin: 100px
  font-weight:italic ;text-shadow: 2px 2px 5px white;font-size: 15px;
  font-family: cursive;
  width: 150px;
  height: 60px;
  background: LimeGreen;
  transition: width 2s;
  color: white;



}
#btn1:hover{
  width: 350px;
  background-color:LightGreen;
}

#bt2 {
 background-color: #A52A2A; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  margin-left: 0px;
   box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}


input{
	  width: 20%;
      background-color: LightGrey;
       color: black;
       height: 30px
        width: 100%;
       padding: 12px;
      border: 1px solid #ccc;
      border-radius: 4px;
      resize: vertical;
      margin-left: 100px
}





p{
	font-size : 50px;
	color: DarkSeaGreen;
  font-size: 50px;
  font-weight: bold;
  font-family: monospace;
  letter-spacing: 7px;
  cursor: pointer


}

.tube{
	width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}


